html {
	font-size: 16px;
	font-family: $bodyfont;
}

@keyframes tag {
	from {
		top: 2.5rem;
	}
	to {
		top: 0;
	}
}

h1 {
	margin: 0;
	font-size: 2rem;
	position: relative;
	animation: tag 0.5s ease 2s;
	animation-fill-mode: backwards;
}

h3 {
	background: $tertiarycolour;
	color: #fff;
	display: inline-block;
}

a {
	text-decoration: none;
}

.slideup article {
	@include wrap();
}

.footer-wrap {
	background: $firstcolour;
	width: 100%;
	padding: 40px;
	position: fixed;
	bottom: 0;
	z-index: 1;
	color: #fff;
	.footer--title {
		background: $tertiarycolour;
		display: inline-block;
	}
	.footer--sections {
		display: flex;
		section {
			flex: 1 1 50%;
		}
	}
	&.scrollup {
		z-index: 5;
	}
	input, textarea {
		background: transparent;
		width: 100%;
		border: 0;
		border-bottom: 1px solid #fff;
		display: block;
		color: #fff;
		&[type="submit"] {
			width: auto;
			border: 1px solid #fff;
			display: inline-block;
			color: #fff;
		}
	}
	a {
		color: $accentcolour;
		font-weight: 700;
	}
}